@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

/*Variáveis*/
:root {
    --fonte1: Arial, Helvetica, sans-serif;
    --fonte2: 'Raleway', sans-serif;
    --cor1: #444444;
}

/*Configuração Geral*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*Configuração para Todo o HTML e BODY*/
html, body {
    min-height: 100%;
    height: 100vh;
    width: 100vw;

    background-color: white;
    color: black;

    font-family: var(--fonte1);
}

/*Configuração dos Títulos e Parágrafos*/
section.normal {
    min-height: 300px;
    max-height: 10000px;
}

section#normal-1 {
    background-color: rgb(251, 252, 244);

    font-family: var(--fonte1);
    text-align: center;
    vertical-align: middle;
    line-height: 2em;
    padding: 30px 40px 40px 40px;
}

section#normal-2 {
    background-color: #282e34;
    color: white;

    font-family: var(--fonte1);
    text-align: center;
    vertical-align: middle;
    line-height: 2em;
    padding: 20px 40px 40px 40px;
}

section#normal-1 h1, section#normal-2 h1 {
    padding: 20px;
}

/*Configuração dos Textos das Imagens*/
div.imagem h1 {
    min-width: 100px;
    max-width: 10000px;
}

div#imagem-1 h1 {
    background-color: var(--cor1);
    color: white;

    font: normal bold 1.5em var(--fonte2);
    letter-spacing: 7px;

    position: relative;
    padding: 15px;
}

div#imagem-2 h1, div#imagem-3 h1{
    color: white;

    font: normal bold 2em var(--fonte2);
    letter-spacing: 10px;

    position: relative;
    padding: 15px;
}

div#imagem-4 h1 {
    background-color: var(--cor1);
    color: white;

    font: normal bold 3.5em var(--fonte2);
    letter-spacing: 7px;

    position: relative;
    padding: 15px;
}

/*Configuração das Imagens*/
div#imagem-1 {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

div#imagem-1::before {
    content: '';
    background: url(../imagens/img1.jpg) center no-repeat fixed;
    background-size: cover;
    opacity: 70%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

div#imagem-2 {
    min-height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

div#imagem-2::before {
    content: '';
    background: url(../imagens/blur2.jpg) center no-repeat fixed;
    background-size: cover;
    opacity: 80%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

div#imagem-3 {
    min-height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

div#imagem-3::before {
    content: '';
    background: url(../imagens/img2.jpg) center no-repeat fixed;
    background-size: cover;
    opacity: 95%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

div#imagem-4 {
    min-height: 96vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

div#imagem-4::before {
    content: '';
    background: url(../imagens/img1.jpg) center no-repeat fixed;
    background-size: cover;
    opacity: 80%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/*Configuração do Rodapé*/
footer {
    text-align: center;
    font: italic normal 1em var(--fonte1);

    background-color: black;
    padding: 10px;
    color: white;
}

footer a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

footer a:hover {
    text-decoration: underline;
}